body {
	background-color: #ffffff;
}
.Wrapper {
	width: 980px;
	margin: 0 auto;
}
.Header {
	position: fixed;
	width: 100%;
	top: 0;
}

.MainHeader {
    box-shadow: 0px 1px 2px rgba(0,0,0,.1);
	background-color: #e7e7e7; 
	border: rgba(0,0,0,0.05) 1px solid; 
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
	width: 980px;
	/*left: 230px;right: 230px;*/
    /*padding: 40px 20px;*/
}
.MainHeader:after {
	content: '';
	display: block;
	clear: both;
} 


.Logo {
	position: absolute;
    top: 5px;
    left: 45px;
}

.Menu {
/*    position: absolute;
    right: 40px;
    top: -10px;*/
    float: right;
    margin-top: -32px;
}

.Menu_item {
	border-right: 1px solid #f4f4f4;
	list-style-type:none;
	display: inline-block;
	margin-left: -4px;
    padding: 30px 20px;
}

.Menu_item:first-child {
	border-left: 1px solid #f4f4f4;
}

.Menu_item:hover {
	background-color: #eeeeee;
}

.Menu_item a{
	text-decoration: none;
    color: #1F262D;
    font-weight: 400;
}

.MainContent {
	background-color: #eeeeee;
    margin-top: -20px;
    padding: 0px 30px;
    padding-top: 100px;

}

.Book {
    position: relative;
    left: 170px;
}

.Book::after {
    content: '';
    display: block;
	clear: both;
}

.Book_LeftSection {
	float: left;
	width: 35%;
}
.Book_RightSection {
	float: left;
	width: 35%;
	margin-left: 25px;
}

.ContentText:after {
	content: '';
	display: block;
	clear: both;    	
}

.HomeContentWrapper {
	width: 45%;
	display: inline-block;
		
}

.buttonSection {
	text-align: center;
}



#div2,#div3{
    display:none;
}







.footer {
	background-color: #e7e7e7; 	
}

.footer h3 {
	padding: 15px;
    margin-top: 0px;
    text-align: center;
}