<header class="MainHeader">
<h1>
	<a href="#" class="Logo">
		<img src="images/logo_dark.png">
	</a>
</h1>
	<ul class="Menu">
		<li class="Menu_item"><a ng-href="#/home">Home</a></li>
		<li class="Menu_item"><a ng-href="#/pages"> Pages</a></li>
		<li class="Menu_item"><a ng-href="#/features"> Features</a></li>
		<li class="Menu_item"><a ng-href="#/portfolio"> Portfolio</a></li>
		<li class="Menu_item"><a ng-href="#/blogs"> Blogs</a></li>
		<li class="Menu_item"><a ng-href="#/shop"> Shop</a></li>
	</ul>
</header>